body{
	background-color: rgb(232, 229, 200);
	font-family: Roboto, sans-serif;
}

h1{
	font-size: 700;
}

.sub-header p{
	margin: 0;
}

.header-flex{
	display: flex;
	justify-content: space-around;
}

.sub-header-flex{
	display: flex;
	justify-content: space-between;
}

.sub-header{
	vertical-align: top;
	margin:0;
	padding: 0;
	width: 33%;
	text-align: center;
}

.main_title{
	font-size: 35px;
	text-align: center;

}

.pictures-flex, .pictures-gifts-flex{
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.price{
	border: 1px dotted black;
	border-radius: 10px;
	background-color: white;
	color: red;
	padding: 0;
}

.price div{
	line-height: 5px;
}

.pictures img{
width: 90%;
}

.pictures-gifts img{
width: 90%;
}

.sub-gifts-flex, .sub-popular-flex, .author-popular-flex, .price-flex{
	display: flex;
	justify-content: space-around;
}

.sub-popular, .author-popular{
	width:96%;
	text-align: center;
}
